<div class="container">
  <div class="row">

    <div class="col-sm-12 ">
      <div class="jumbotron">
        <div class="text-center">
          <h1>Connecting Chennai</h1>
        </div>
        <p>This platform is to connect the people affected by the Chennai flooding with the people and volunteers who are willing to help
          and provide relief.</p>
      </div>
    </div>
    <section class="col-sm-6">
        <h3>People Stranded</h3>
        <p>
          If you or any of your friend/relative is/are stranded in any area of Chennai, please post details about them
          and their needs here.
        </p>
        <div class="">
          <%= link_to "Post your whereabouts", home_help_path, class:"btn btn-primary btn-lg" %>
        </div>

    </section>
    <section class="col-sm-6">
      <h3>People willing to help</h3>
      <p>
          If you are willing to help and provide some relief for people affected in your locality or others, please sign up and
          find details of the people who would find your help handy. If you had helped them out, please mark their request as closed,
          so that we could track  and provide help to others. Thanks a lot in advance for this noble gesture !!!
          <div class="">
            <%= link_to "LogIn", new_user_session_path, class:"btn btn-primary btn-lg" %>
            <%= link_to "SignUp", new_user_registration_path, class:"btn btn-primary btn-lg" %>
          </div>
      </p>
    </section>



  </div>

</div>
